# Functions are objects

In [2]:
def round10(x):
    return (x+5) // 10 * 10

In [3]:
type(round10)

function

In [4]:
a = round10
a(12)

10

In [5]:
a(18)

20

In [9]:
def apply_to_grades(operation, grade_list):
    return[(name,operation(grade)) for name, grade in grade_list]

In [10]:
grade_list = [("Betty", 88), ("Steve", 75), ("Bob", 73), ("Teri", 94)]
print(apply_to_grades(round10, grade_list))

[('Betty', 90), ('Steve', 80), ('Bob', 70), ('Teri', 90)]

In [11]:
list (map(round10, (23, 45, 42, 66)))

[20, 50, 40, 70]

In [13]:
lambda x : 100 - (100 - x) /2

In [14]:
apply_to_grades(lambda x : 100 - (100-x)/2, grade_list)

[('Betty', 94.0), ('Steve', 87.5), ('Bob', 86.5), ('Teri', 97.0)]

In [15]:
list(map(lambda x: x**2, (5,8,12,22)))

[25, 64, 144, 484]